<!-- views/partials/footer.ejs -->
<div class="text-center">
    <div class="pT-20">
        <img src="/assets/img/logo.png">
        <h2>THỜI GIAN QUYẾT ĐỊNH SỰ THÀNH CÔNG CỦA BẠN!</h2>
    </div>
</div>