<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script></script>
</head>

<body>

    <div class="header">
        <% include ../partials/header %>
    </div>

    <% include ../partials/sidenav %>

    <div class="container">
        <div class="text-center">
            <h1>Trời ơi tin được không ? !!!</h1>
        </div>
        
    </div>
    <div class="footer">
        <% include ../partials/footer %>
    </div>

</body>

</html>