<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script></script>
</head>

<body>

    <div class="header">
        <% include ../partials/header %>
    </div>
    <% session.address = "home"; %>

    <% include ../partials/sidenav %>

    <div class="container">
        <div class="text-center">
            <h1>Bạn đang ở mục quản lý</h1>
        </div>
       <div class="row">
            <div class="col-xs-3">
                <a her class="btn btn-primary" href="/users" >Quản lý tài khoản</a>
            </div>
            <div class="col-xs-3">
                    <a her class="btn btn-primary" href="/products" >Quản lý sản phẩm</a>
            </div>
            <div class="col-xs-3">
                    <a her class="btn btn-primary" href="/users" >Quản lý đơn hàng</a>                             
            </div>
            <div class="col-xs-3">
                    <a her class="btn btn-primary" href="/users" >Quản lý doanh thu</a>
            </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <% include ../partials/footer %>
    </div>

</body>

</html>